.keg-status.progress {
  height: 8rem;
  width: 9rem;
  margin: 1rem auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-radius: 0.25rem / 0.5rem;
}
.tapped-on-date {
  border-right: 2px solid #000;
  padding-right:.5rem;
}
.beers-remaining {
  padding-left:.5rem;
}